In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.3.1'

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [8]:
df["fuel_type"].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [10]:
df["fuel_type"].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [12]:
df["fuel_type"].nunique()

2

In [18]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [19]:
df.isnull().sum().sum()

np.int64(2622)

In [22]:
df[df["origin"] == "Asia"]["fuel_efficiency_mpg"].max()

np.float64(23.759122836520497)

In [23]:
df["horsepower"].median()

np.float64(149.0)

In [24]:
df["horsepower"].unique()

array([159.,  97.,  78.,  nan, 140., 127., 239., 174., 123., 100., 145.,
       193., 160., 179., 180., 132., 110., 126., 197., 133., 144., 156.,
       157., 206., 154., 153., 136., 168., 149., 143., 158., 176., 108.,
       125., 142., 139., 170., 135., 202.,  99., 152., 148., 151., 155.,
       146., 199., 128., 103., 182., 141., 113., 109., 196., 111., 118.,
       222., 122., 194., 166., 101.,  72., 232., 172., 165., 177., 190.,
       129., 184., 147., 137., 163., 162., 186., 104., 120., 200., 189.,
       167., 164., 191., 195.,  96., 181.,  71., 130., 150., 192., 217.,
       112., 220., 185.,  83., 124., 161., 169.,  98., 117., 134.,  80.,
        92., 115., 121., 214.,  94.,  90., 210., 138., 198., 175., 183.,
       187., 173.,  95., 131., 106., 204.,  93., 114., 178., 207., 171.,
       188., 230.,  87., 227., 119., 105., 102.,  73., 208., 116.,  79.,
        91., 209.,  68., 237.,  89.,  82.,  77., 213.,  59., 216., 201.,
        66.,  88.,  53., 205., 223.,  86.,  43., 107., 203.,  85., 215.,
        70.,  75.,  46.,  69.,  37., 211.,  84.,  76., 231.,  63., 221.,
       226., 212., 229., 234., 218., 228., 219.,  65., 246., 224.,  81.,
        54.,  74., 225., 233., 238.,  55.,  64., 244.,  62., 240., 235.,
       271.,  40.,  57., 245., 252.,  61.])

In [26]:
df['horsepower'].mode()[0]

np.float64(152.0)

In [28]:
mode = df['horsepower'].isnull().sum()
print(mode)

708

In [ ]:
mode = df["horsepower"].mode()[0]
df.loc[df["horsepower"].isna(), "horsepower"] = mode
df["horsepower"].median()